---
import { OgContentTypes } from '@enums/og-content-types.enum';
import type { HeadProps } from '@interfaces/head-props';
import { ClientRouter } from 'astro:transitions';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const {
  description,
  ogContent = OgContentTypes.Website,
  ogImageUrl = '/images/ogHome.png',
  ogTitle = 'Check out my website!',
  tabTitle,
} = Astro.props as HeadProps;

const formattedTitle = `${tabTitle} | Hunter Simpson`;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <meta name="generator" content={Astro.generator} />
  <link rel="canonical" href={canonicalURL} />

  <title>{formattedTitle}</title>
  <meta name="title" content={formattedTitle} />
  <meta name="description" content={description} />

  <meta property="og:title" content={ogTitle} />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:image" content={new URL(ogImageUrl, Astro.url)} />
  <meta property="og:type" content={ogContent} />
  <meta property="og:description" content={description} />

  <link
    rel="alternate"
    type="application/rss+xml"
    title="Hunter Simpson's RSS Feed"
    href={new URL('rss.xml', Astro.site)}
  />

  <ClientRouter />

  <script is:inline>
    const DARK = 'dark';
    const LIGHT = 'light';

    /**
     * Adds or removes the 'dark' class from the root element for Tailwind's "dark:" support.
     * @param theme The string value representing the theme to be set (dark or light).
     */
    function setClass(theme) {
      document.documentElement.classList.toggle(DARK, theme === DARK);
      document.documentElement.setAttribute('data-theme', `github-${theme}`);
    }

    /**
     * Stores the specified theme in localStorage.
     * @param theme The string value representing the theme to be set (dark or light).
     */
    function setTheme(theme) {
      localStorage.setItem('theme', theme);
      setClass(theme);
    }

    /**
     * Loads the theme based on either the user's preference on the site or their system theme.
     */
    function loadTheme() {
      if (localStorage.theme) {
        setClass(localStorage.theme);
      } else {
        // Use system theme if no theme has been set
        const isDark = window.matchMedia(
          '(prefers-color-scheme: dark)',
        ).matches;

        setTheme(isDark ? DARK : LIGHT);
      }
    }

    /**
     * Initializes theming and sets event listener for theme button.
     */
    function init() {
      loadTheme();

      document.getElementById('themeBtn')?.addEventListener('click', () => {
        setTheme(localStorage.theme === DARK ? LIGHT : DARK);
      });
    }

    document.addEventListener('DOMContentLoaded', () => init());
    document.addEventListener('astro:after-swap', () => init());

    loadTheme();
  </script>
</head>
