---
import type { HeadProps } from '@interfaces/head-props';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const {
  description,
  ogImageUrl = '/images/ogHome.png',
  ogTitle,
  tabTitle,
} = Astro.props as HeadProps;

const formattedTitle = `${tabTitle} | Hunter Simpson`;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <meta name="generator" content={Astro.generator} />
  <link rel="canonical" href={canonicalURL} />

  <title>{formattedTitle}</title>
  <meta name="title" content={formattedTitle} />
  <meta name="description" content={description} />

  <meta property="og:title" content={ogTitle} />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:image" content={new URL(ogImageUrl, Astro.url)} />
  <meta property="og:type" content="website" />
  <meta property="og:description" content={description} />
</head>
