---
import NavLink from '@components/NavLink.astro';
import { Icon } from 'astro-icon/components';
import '../styles/global.css';

interface Props {
  description: string;
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
  </head>
  <body
    class="mx-auto max-w-screen-md bg-neutral-100 px-3 text-base text-neutral-700 antialiased dark:bg-neutral-950 dark:text-neutral-400"
  >
    <div
      class="bg-size-24 mask-image absolute top-0 left-0 -z-1 h-full w-full bg-radial from-neutral-400 from-[1px] to-transparent to-[1px] dark:from-neutral-700"
    >
    </div>
    <header>
      <nav class="flex h-22 items-center justify-between">
        <a href="/" target="_self" aria-label="Home">
          <img src="/hs.png" alt="Site logo" width="60" height="24" />
        </a>
        <div class="flex gap-x-5">
          <NavLink
            href="https://github.com/hsimpson270/portfolio"
            aria-label="Github"
          >
            <Icon name="github" class="text-2xl/6" />
          </NavLink>
          <NavLink
            href="https://www.linkedin.com/in/hsimpson270/"
            aria-label="LinkedIn"
          >
            <Icon name="linkedin" class="text-2xl/6" />
          </NavLink>
        </div>
      </nav>
    </header>
    <main class="mt-4">
      <slot />
    </main>
    <footer class="mt-12 border-t py-3 text-sm">
      <div>&copy; 2025 | Hunter Simpson</div>
    </footer>
  </body>
</html>
